<div class="paginator">
    {% if page_obj.has_previous %}
    <a href="?{% if request.GET.query %}query={{ request.GET.query }}&{% endif %}page=1">&lt;</a>
    <a href="?{% if request.GET.query %}query={{ request.GET.query }}&{% endif %}page={{ page_obj.previous_page_number }}"> &lt;&lt;</a>
    {% endif %}
    <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
    <a href="?{% if request.GET.query %}query={{ request.GET.query }}&{% endif %}page={{ page_obj.next_page_number }}">&gt;</a>
    <a href="?{% if request.GET.query %}query={{ request.GET.query }}&{% endif %}page={{ page_obj.paginator.num_pages }}"> &lt;&lt;</a>
    {% endif %}
</div>